{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{{name}} is heccin' {{state}}</title>
    <link rel="stylesheet" href="{% static "core/name.css" %}">
  </head>

  <body>
    <div class="content {{style}}" align="center">
      <h1>{{name}} is heccin' {{state}}!</h1>
      <h3>
        🏳️‍🌈 <span class="stroke">Tell someone else they're heccin {{state}} at <a href="https://heccin.gay/">heccin.gay</a></span> 🏳️‍🌈
      </h3>
    </div>
  </body>

  {% if GA_CODE %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{GA_CODE}}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{GA_CODE}}');
    </script>
  {% endif %}
</html>
